{% extends 'school_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  
  <form action="" method="post" autocomplete="off" class="bg-light p-3 rounded">
    {% csrf_token %}
    
    <h2>Create new student.</h2>

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary py-1"><i class="fa-solid fa-floppy-disk"></i> Save student</button>
    <a href="{% url 'home' %}" type="button" class="btn btn-outline-secondary py-1"><i class="fa-solid fa-arrow-left"></i> Back</a>
  </form>
{% endblock content %}
