{% extends 'school_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="bg-light p-3 rounded form-container">
    <h2>Update {{student.first_name}}'s details</h2>
    <hr>
    <form action="" method="post">
      {% csrf_token %}

      {{form|crispy}}

      <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save changes</button>
      <a href="{% url 'home' %}" type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </form>
  </div>
{% endblock content %}

<style>
  .form-container {
    width: 500px;
  }
</style>